[data-portfolio-orientation=horizontal] .p-carousal_marquee_list {
    animation: loopi 5s infinite linear;
}

.p-carousal_slide:not(.swiper-slide-active) {
    transform: scale(0.7) !important;
}

.p-carousal_slide {
    transition: 0.3s ease-in-out;
}
@keyframes loopi{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-50%)
    }
}
.custom-main-input:focus ~ label, 
.custom-main-input:user-valid ~ label, 
.custom-main-input:not(:placeholder-shown) ~ label {
    transform: translateY(-130%);
    font-size: 14px;
}
.custom-main-input, .custom-main-input label, .custom-check-inner{
    transition:all 0.3s ease-in-out !important;
}
.custom-check-flield{
    cursor: pointer;
}
.custom-check-flield input:checked ~ .custom-check-inner{
    background: white;
}
.custom-check-flield input:checked ~ .custom-check-inner span{
    color: #1d1d1d;
}

/* step form partner */

form#reno-form h3.title {
    display: none;
}

form#reno-form section{
    position: absolute;
    
    display: block !important;
    visibility: hidden !important;
}
form#reno-form section.current{
    visibility: visible !important;
    position: relative;
    transition-delay: 0.3s !important;
}

.pl-step-form-container, .pl-step-form-container > div {
    height: 100%;
}

#reno-form {
    position: relative;
    height: 100%;
}

#reno-form .steps {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
}

#reno-form .steps ul {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px !important;
    padding: 20px 10px !important;
}

#reno-form .steps ul li a {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.15);
    text-decoration: none;
}

#reno-form .steps ul li a .current-info {
    display: none;
}

#reno-form .actions.clearfix {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-between;
}

#reno-form .actions.clearfix ul {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#reno-form .actions.clearfix ul a {
    text-decoration: none !important;
    padding: 12px 20px;
    background: white;
    border-radius: 8px;
    color: #1d1d1d;
    display: inline-block;
}

#reno-form .actions.clearfix ul li.disabled a {
    background: rgba(255,255,255,0.15) !important;
    color: white;
}

#reno-form .steps ul li a .number {
    display: none !important;
}

#reno-form .steps ul li:not(.current) a {
    /* background: rgba(255,255,255,0.15); */
    opacity: 0.30;
}

.custom-main-input.error {
    /* margin-bottom: 20px !important; */
    border: 1px solid red !important;
    box-shadow: 0px 0px 0px 5px rgba(255 ,0 ,0, 0.25);
    background: #382e2e;
}
.custom-input label.error {
    display: none !important;
}
.iti__tel-input {
    width: 100% !important;
}

.iti {
    width: 100%;
}

.custom-input.country-phone-input .custom-label {
    display: none !important;
}
.iti__dropdown-content {
    background: #1d1d1d !important;
    border-radius: 12px !important;
    border: none !important;
}

/* modal */
.modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }
  
.modal__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    padding-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .modal__container {
    background: transparent;
    padding: 0px;
    max-width: 1200px;
    width: 95%;
    border-radius: 20px;
  }

  a[data-micromodal-close] {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1em;
    right: 1em;
    background: #1F1F1F;
    z-index: 5;
    border-radius: 8px;
}

.modal__container {
    position: relative;
}
.gallery-image-wrapper:nth-child(23) {
    z-index: 2;
    position: relative;
}
.designers_slide_img_track{
    animation: loopY 5s infinite linear;
}
@keyframes loopY{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-50%)
    }
}
.swiper-slide {
    width: fit-content;
    flex-shrink: 0;
  }

  .main-gallery-image-wrapper-animated {
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    
    overflow: hidden;
    border-radius: 20px;
}
.main-gallery-image-wrapper-animated img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

[data-anim-img-wrapper] {
    position: relative;
    z-index: 3;
    overflow: unset;
}

.cta_visual_wrap> img:nth-child(2) {
    transform: translateY(100px);
}
.cta_visual_wrap:hover > img:nth-child(2) {
    transform: translateY(5px);
}
.cta_visual_wrap:hover > img:nth-child(1) {
    transform: translateY(80px);
}
.cta_visual_wrap> img{
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.portfolio_list_img_iner> .portfolio_list_img_iner {
    
    transform: translateY(0);
}
@keyframes loopscroll{
    0%{
        transform: translateY(0px);
    }
     100%{
        transform: translateY(-30%);
    }
}

.two-col [data-portfolio-element=item]:hover .portfolio_list_img_iner> .portfolio_list_img_iner{
    animation: loopscroll 3s infinite linear; 
}
.two-col .experts_list_item:hover .vertical-marquee_inner{
    animation: loopscroll 3s infinite linear; 
}
form#reno-form section:not(.current){
    top: 2em !important;
    left: 0px !important;
    opacity: 0 !important;
    width: 96.5% !important;
}
form#reno-form section{
    transition: 0.3s ease-in-out;
}
.home-gallery-hero-img{
    opacity: 0;
}
.home-gallery-hero-img img{
    width: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    height: 100% !important;
}

.designer-pagination-slider-container .designer-pagination-image {
    transform: rotate(-90deg);
    opacity:1 !important;
}
.designer-pagination-slider-container{
    top: 36vh;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    z-index: 99;
}
.u-desktop-hide{
    display: none !important;
}
@media (max-width: 768px) {
    .u-desktop-hide{
        display: block !important;
    }
    .u-mobile-hide{
        display: none !important;
    }
}

.designer-pagination-slider-container.active .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.6;
    transform: rotate(0) scale(0.7);
}
.designer-pagination-slider-container .swiper-slide{
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
@media(max-width: 768px){
    .designer-pagination-slider-container {
        top: 13em  !important;
    }
    .designer-slider-pagination-slider.swiper{
        height: 320px !important;
    }
    .designer-images-marquee-container{
        animation: loopAnimRevrse 15s infinite linear !important;
        min-width: max-content !important;
    }
    .p-carousal_wrap {
        padding: 0px 10px;
    }
    .p-carousal_slide.swiper-slide{
        max-width: 100% !important;
    }
    .designer-images-marquee-main{
        height: auto !important;
    }
}
@keyframes loopAnimRevrse{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%)
    }
}

/* hidden state */

.nav_component.nav--hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  /* visible state */
  .nav_component.nav--visible {
    transform: translateY(0);
    opacity: 1;
    background: black;
    position: fixed !important;
  }
  .nav_component.nav--visible .bottom_bottom_left_outer {
    display: none !important;
  }

  .nav_component {
    width: 100%;
    transition: transform 0.35s ease, opacity 0.25s ease;
    will-change: transform;
  }

  .v-tabs_accordion_item.is-opened .v-tabs_accordion_body {
    max-height: 1000px !important;
}

.v-tabs_accordion_item .v-tabs_accordion_body {
    transition: 0.3s ease-in-out;
}


@media(max-width: 768px){
    .nav_elements .clickable_btn {
        background: white !important;
        color: black !important;
    }
    
    
    .nav_elements .button_main_text {
         color: black !important;
        z-index: 4 !important;
    }

    .designers_slide_img_track {
        flex-direction: row;
        animation: loopX 5s infinite linear !important;
        min-width: max-content;
    }
    
    .designers_slide_img_container {
        flex-direction: row;
    }
    @keyframes loopX {
        0%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(-50%);
        }
    }

}
