[data-portfolio-orientation=horizontal] .p-carousal_marquee_list {
    animation: loopi 5s infinite linear;
}

.p-carousal_slide:not(.swiper-slide-active) {
    transform: scale(0.7) !important;
}

.p-carousal_slide {
    transition: 0.3s ease-in-out;
}
@keyframes loopi{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-50%)
    }
}
.custom-main-input:focus ~ label {
    transform: translateY(-130%);
    font-size: 14px;
}
.custom-main-input, .custom-main-input label, .custom-check-inner{
    transition:all 0.3s ease-in-out !important;
}
.custom-check-flield{
    cursor: pointer;
}
.custom-check-flield input:checked ~ .custom-check-inner{
    background: white;
}
.custom-check-flield input:checked ~ .custom-check-inner span{
    color: #1d1d1d;
}

/* step form partner */

form#reno-form h3.title {
    display: none;
}

.pl-step-form-container, .pl-step-form-container > div {
    height: 100%;
}

#reno-form {
    position: relative;
    height: 100%;
}

#reno-form .steps {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 5;
    transform: translateX(-50%);
}

#reno-form .steps ul {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px !important;
    padding: 20px 10px !important;
}

#reno-form .steps ul li a {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(255,255,255,0.15);
    text-decoration: none;
}

#reno-form .steps ul li a .current-info {
    display: none;
}

#reno-form .actions.clearfix {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    justify-content: space-between;
}

#reno-form .actions.clearfix ul {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#reno-form .actions.clearfix ul a {
    text-decoration: none !important;
    padding: 12px 20px;
    background: white;
    border-radius: 8px;
    color: #1d1d1d;
    display: inline-block;
}

#reno-form .actions.clearfix ul li.disabled a {
    background: rgba(255,255,255,0.15) !important;
    color: white;
}

#reno-form .steps ul li a .number {
    display: none !important;
}

#reno-form .steps ul li:not(.current) a {
    /* background: rgba(255,255,255,0.15); */
    opacity: 0.30;
}

.custom-main-input.error {
    /* margin-bottom: 20px !important; */
    border: 1px solid red !important;
    box-shadow: 0px 0px 0px 5px rgba(255 ,0 ,0, 0.25);
    background: #382e2e;
}
.custom-input label.error {
    display: none !important;
}
.iti__tel-input {
    width: 100% !important;
}

.iti {
    width: 100%;
}

.custom-input.country-phone-input .custom-label {
    display: none !important;
}
.iti__dropdown-content {
    background: #1d1d1d;
    border-radius: 12px !important;
    border: none !important;
}

/* modal */
.modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }
  
.modal__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal__container {
    background: #fff;
    padding: 24px;
    max-width: 500px;
    width: 90%;
    border-radius: 12px;
  }